[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
gtts = "*"
pytesseract = "*"
googletrans = "==4.0.0rc1"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.11"
